.insight-container {
  display: flex;
  align-items: center;
  justify-content: center;
  app-calendar {
    flex-grow: 1;
  }
}

@media (max-width: 720px) {
  .insight-container {
    flex-direction: column;
  }
}

.chart-container {
  display: flex;
  flex-direction: column;
  width: 350px;
}
